.recent_projects_section {
  margin-top: 20rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.recent_projects_section button {
  outline: none;
  border: none;
}

.button_div {
  margin-top: 10rem;
}

.recent_projects_section h1 {
  font-size: 3rem;
}

.projects_div {
  margin-top: 5rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 100%;
  gap: 5rem;
}

.project_div {
  background-color: var(--secondary-colour);
  padding: 2rem;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  align-items: center;
  /* box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.1); */
}

.project_div div {
  text-align: center;
}

.project_div p {
  font-size: 1.6rem;
}

.project_div h2 {
  font-size: 2rem;
}

.project_div img {
  width: 100%;
  border-radius: 5px;
  box-shadow: 1px 3px 52px 0px rgba(0, 0, 0, 0.14);
  -webkit-box-shadow: 1px 3px 52px 0px rgba(0, 0, 0, 0.14);
  -moz-box-shadow: 1px 3px 52px 0px rgba(0, 0, 0, 0.14);
}

.project_before_div {
  position: relative;
}

.project_before_div::after {
  content: 'Before';
  position: absolute;
  background-color: var(--accent-colour);
  padding: 1rem 2rem;
  font-size: 1.1rem;
  border-radius: 5px;
  color: #fff;
  bottom: -1.2rem;
  left: 5rem;
}

.project_after_div {
  position: relative;
}

.project_after_div::after {
  content: 'After';
  position: absolute;
  background-color: var(--accent-colour);
  padding: 1rem 2rem;
  font-size: 1.1rem;
  border-radius: 5px;
  color: #fff;
  bottom: -1.2rem;
  right: 5rem;
}

.hide_more_projects {
  display: none;
}

.show_more_projects {
  display: block;
}
