.hero_wrapper {
  /* background-image: url('../../../assets/spray_images/hero.jpg'); */
  height: 50vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero_wrapper h1 {
  color: #fff;
  font-size: 7rem;
  text-transform: capitalize;
}

.hero_text_div {
  background-color: var(--accent-colour);
  min-height: 14rem;
  width: 80rem;
  position: absolute;
  bottom: -7rem;
  left: 50%;
  transform: translate(-50%, 0);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 5rem;
  border-radius: 10px;
}

.hero_text_div p {
  color: #fff;
  font-size: 1.3rem;
  text-align: center;
}
