.services_section {
  padding-top: 10rem;
}

.services_section h1 {
  font-size: 3rem;
  text-align: center;
  margin-bottom: 5rem;
}

.services_div {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: space-between;
  gap: 5rem;
}

.services_item {
  background-color: var(--secondary-colour);
  border-radius: 10px;
  width: 100%;
  overflow: hidden;
  /* box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.1); */
  transition: 0.5s;
  cursor: pointer;
  text-decoration: none;
}

.services_item:hover {
  transform: translateY(-10px);
  background-color: var(--secondary-dark-colour);
}

.services_item img {
  width: 100%;
  height: 25rem;
  object-fit: cover;
}

.services_item div {
  padding: 3rem;
}

.services_item div h2 {
  font-size: 2rem;
}

.services_item div p {
  font-size: 1.3rem;
  margin-top: 2rem;
}
