.logo {
  width: 8rem;
  border: none !important;
}

.header {
  z-index: 10;
  position: sticky;
  top: 0rem;
  background-color: rgba(248, 249, 250, 0.8);
  -webkit-backdrop-filter: blur(1rem);
  backdrop-filter: blur(1rem);
  box-shadow: 0rem 0rem 2rem 0rem rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0rem 0rem 2rem 0rem rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0rem 0rem 2rem 0rem rgba(0, 0, 0, 0.1);
}

.navbar {
  display: flex;
  justify-content: space-between;
  padding-top: 2rem;
  padding-bottom: 1rem;
}

.navbar_menu {
  display: flex;
  list-style: none;
  align-items: center;
}

.navbar_menu_item {
  font-weight: 600;
  font-size: 1.3rem;
  text-decoration: none;
  color: var(--text-colour);
  padding: 1.5rem 1.8rem;
  transition: 0.5s;
}

.navbar_menu_item:hover {
  color: var(--accent-colour);
  transform: scale(0.95);
  cursor: pointer;
}

.navbar_menu_item_phone {
  border: 0.3rem solid var(--accent-colour);
  border-radius: 0.5rem;
  transition: 0.5s;
  cursor: pointer;
}

.navbar_menu_item_phone:hover {
  background-color: #fc343425;
  transform: scale(0.95);
}

.navbar_menu :global(.active) {
  font-weight: 800;
  color: var(--accent-colour);
  border-bottom: 0.3rem solid var(--accent-colour);
}
