.wrapper {
  margin-top: 20rem;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
  margin-top: 5rem;
}

.gallery img {
  width: 100%;
  height: 200px;
  border-radius: 10px;
}

.gallery img:nth-child(1) {
  grid-column-start: 1;
  grid-column-end: 3;
}

.gallery img:nth-child(5) {
  grid-column-start: 2;
  grid-column-end: 4;
}

.gallery img:nth-child(7) {
  grid-column-start: 1;
  grid-column-end: 3;
}
