.why_wrapper {
  margin-top: 20rem;
}

/* FROM HERE */

.body {
  margin-top: 5rem;
  display: flex;
  flex-direction: column;
  font-size: 1.4rem;
  gap: 3rem;
}

.why_wrapper div ul {
  list-style: none;
  display: flex;
  gap: 10rem;
}

.why_wrapper div ul li {
  flex: 1 1 0px;
}

.why_wrapper span {
  color: var(--accent-colour);
  font-weight: 800;
}

.item_id {
  margin-right: 1rem;
}

/* TO HERE */
