.header {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.header h1 {
  text-transform: capitalize;
}

.text_right {
  order: 1;
}

.header div {
  height: 0.2rem;
  min-width: 10rem;
  background-color: red;
  flex-grow: 1;
}
